# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Android
android/.gradle/
android/app/build/

# IntelliJ / VS Code
.idea/
.vscode/
*.iml

# macOS / Linux / Windows generiert
.DS_Store
Thumbs.db

# Personal
*.log
*.tmp
*.swp
*.lock
*.bak

# Output / Distribution
*.apk
*.ipa

# Sensitive
.env
credentials.json
key.properties

# GitHub Actions cache (optional)
.github/workflows/*.log
.github/workflows/*.cache
